body {
    background-color: rgb(178, 201, 216);
    font-family: 'Raleway', sans-serif;
    /* max-width: 1000px;*/

}

h1 {
    color: ghostwhite;
}

header {
    background-color: rgb(47, 85, 107);
    padding: 8px 24px;
    position: relative;
    color: ghostwhite;
    font-size: 20px;
    text-align: center;

}

h3,
p {
    background-color: ghostwhite;
    padding: 16px 24px;
    position: relative;
}

main {
    display: grid;
    grid-template-columns: auto;
    font-size: 1rem;
    text-align: center;
}

main section {
    margin: 0.5rem;
    background-color: rgb(92, 91, 91);
    border-radius: 10px;
    align-items: center;


}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
}

.links {
    color: ghostwhite;
    text-align: center;
    padding: 16px 24px;
    position: relative;
}

footer {
    background-color: rgb(47, 85, 107);
    text-align: center;
    padding: 8px 24px;
    position: relative;
    color: ghostwhite;
    font-size: 15px;
}
