body {
    font-family: 'Open Sans', sans-serif;
   
}


header
 {
    
    background-color: #0D3B66;
    color: #FFFFFF;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content:center;
    
}
footer{
    
    background-color: #0D3B66;
    color: #FFFFFF;
    padding: 10px;
    align-items: center;
    justify-content:center;
}
img{
    padding-right: 16px;
}
.headings{
    display: flex;
    flex-direction: column;
    }

footer a {
    color: #FFFFFF;
}


h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 3rem;
    margin: auto;
}

h2{
    text-align: center;
}

nav{
    margin: 0 auto;
    
    background-color:#FFDF6E;
    font-family: 'Open Sans', sans-serif;
    
}
.navigation{
    list-style: none;
    text-align: center;
    padding: 0;
}
.navigation li:first-child{
    display: block;

}
.navigation li{
    display: none;
}

.responsive li{
    display: block;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
}
nav ul li a{
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000;
   
}
nav a:hover {
    background-color: rgba(0,0,0,0.2);
}

nav ul li.active a{
    background-color: rgba(0,0,0,0.2);
   
}
.weatherSum{
    background-color: #B8D3E9;
    
    padding: .8rem;
    margin: 2rem;
}

.contentbox{
    border: 1px dashed black;
    padding: .8rem;
    margin: 8px;
    background-color: #FFFFFF;
   
}

