@media only screen and (min-width: 36rem){
    .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0px;
    }
    .navigation {
        display: flex;
      }
      .navigation li:first-child {
        display: none;
      }
      .navigation li {
        display: block;
        flex: 1 1 100%;
      }
}
