@media only screen and (min-width: 35em) {
  .navigation {
    display: flex;
  }

  .navigation li:first-child {
    display: none;
  }

  .navigation li {
    display: block;
    flex: 1 1 100%;
  }

  /* this is the form code*/
  form legend {
    text-align: center;
  }

  /* json side by side format starts here*/
  .town {
    grid-template-columns: repeat(2, 1fr);
    max-width: 670px;
  }

  div.info {
    margin: 1.5rem;
  }

  section:nth-child(odd) .picture {
    grid-column: 2;

  }

  section:nth-child(odd) .info {
    grid-column: 1;
    grid-row: 1;
  }

  #weatherArticle {
    float: left;
    margin: 1rem;
  }

  /* this is the preston page here*/

  .weatherSum {
    font-size: 1rem;
    line-height: 1rem;
    top: 40px;
    left: 50px;
    opacity: .85;
    margin: 10px;

  }

  main {
    text-align: left;
  }

  #articleimg {
    width: 530px;
  }

  .section2 {
    display: block;
  }

  #map {
    display: grid;
    width: 50%;
    margin: 10px;
    grid-column: 1;
    box-shadow: 0 0 30px rgb(5, 5, 5);

  }

  .contact {
    grid-column: 2;
    text-align: center;
    align-self: center;
  }

  .socialmedia {
    display: inline-block;
    width: 40px;
  }
}

/* table,
th,
td {
  border: 1px solid black;
}*/