@media only screen and (min-width: 65rem){
   body{
       width: 1200px;
   }
    h1 {
    
    font-size: 3rem;
    }
    h5 {
        font-size: 5rem;
      }
      h6 {
        font-size: 3.5rem;
      }
    nav ul li a{padding: .6rem 1rem;} 
    iframe {
        max-width: 950px;
      }
      .ruin-img {
        display: flex;
        width: 100%;
    }
}