@media only screen and (min-width: 65rem){
   body{
       width: 1000px;
   }
    h1 {
    
    font-size: 3rem;
    }
    nav ul li a{padding: .6rem 1rem;} 
   .grid {
       
        grid-template-columns: repeat(3, 1fr);
       
    }
   
}