body {
   
   
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin: 0 auto;
    background: white;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}


header {

    background-color: #5995ed;
    color: #FFFFFF;
    padding: 10px;
    margin-top: 1rem;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.top img {
    width: 20%;
    padding-right: 16px;

}

.headings {
    display: flex;
    flex-direction: column;
}


h1 {
    font-family: 'Galada', cursive;
    font-weight: 300;
    font-size: 3rem;
    margin-left: 1rem;
    margin-top: 0px;
    margin-bottom: .2rem;
}

h2 {
    text-align: center;
    font-weight: 500;
    margin: auto;
    padding: 1rem;
}

h4 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    margin: auto;
}

nav {
    margin: 1rem auto;
    background-color: #5995ed;
    font-family: 'Roboto', sans-serif;
}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;

}

nav ul li.active a {
    background-color: #FFA630;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/*nave stops here*/
/* index.html page specifics start here*/
.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #84DCC6;

}

.section1 img {
    width: 100%;
    border-radius: .5rem .5rem 0 0;
}

.rentalSum {
    max-width: 100%;
    margin: 1.5rem;
    border: solid 8px white;
    box-shadow: 0 0 30px rgb(5, 5, 5);
    border-radius: .5rem;
}

.rentalSum ul {
    list-style-type: none;

}

.rentalSum h2 {
    font-family: 'Galada', cursive;
    font-weight: 300;
    font-size: 2rem;
    margin: 0px;
    padding: .5rem 0px 0px 0px;
    color: white;
}

.section2 {
    max-width: 90%;
    margin: 1.5rem;

    padding: 1rem;
    color: rgb(54, 54, 54);
}

#high {
    font-size: 4rem;
    color: white;
    text-align: right;
}

.forecast {
    display: flex;
    max-width: 100%;

}

.flex-col {
    display: flex;
    flex-direction: column;
    padding-right: .5rem;
    margin: 1rem;
    border-right: solid slategrey 1px;

}

/*this is rentals grid*/
img[data-src] {
    filter: blur(0.2em);
}

img {
    filter: blur(0em);
    transition: filter 0.5s;
    width: 100%;
    height: auto;
    margin: 0;
     border-radius: .5rem;
}

main.gallery {
    margin: 0px auto;
    
}

figure {
    width: 80%;
    align-content: center;
    
}

figcaption {
     display: block;
    text-align: center;
    padding: .5rem;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.grid {
    display: grid;
    grid-gap: 0px;
    grid-auto-columns: auto;
    justify-content: center;
    max-width: 100%;
    margin: 1rem auto;
    background-color: #84DCC6;
    padding: 1rem;
}
/* rental table starts here */
.rental-table {
    background-color: #FFDF6E;
    padding: 2rem 2rem 1rem 1rem;
    width: 100%;

}
.flat-table {
   width: 80%; 
}

table,
th,
td {
  border: 1px solid rgb(78, 76, 76);
  border-collapse: collapse; 
}

table {
  font-size: 100%;
  overflow: auto;
  width: 80%;
  box-shadow: 10px 10px 10px #c4ad5d;
  text-align: center;
  margin: 0 auto;

}
b:only-child {
  color: rgb(78, 76, 76);
}

tr:nth-child(odd) {
  background-color: rgb(233, 233, 233);
  color: #000000
}

tr:nth-child(even) {
  background-color: white;
}

th,
tfoot tr td {
  background-color: #c6daf8;
  color: rgb(78, 76, 76);
  padding: 10px 10px;
  
}

td {
  padding: 8px 8px;
}

th {
  font-weight: bold;
  font-size: 1.75rem;
}

tfoot tr td {
  font-size: .8rem;
}

#active{
  color: #ffffff;
}

/* contact and map location */
.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    background-color: #FFDF6E;
    
}

.contact {
    padding: 1rem;
    margin: 1rem;
    width: 300px;

}

.map {

    margin: 1rem;
}

iframe {
    border-radius: 1rem;
    margin: 1rem;
}

.social-media img {

    justify-content: space-between;
    width: 40px;
    padding: 1rem;
    margin-left: 1rem;


}

/*this is footer*/
footer {
    display: block;
    padding: 8px;
    margin: 8px auto;
    text-align: center;
    max-width: 100%;
    background-color: #5995ed;
    color: #FFFFFF;

}

footer a {
    color: #FFFFFF;
    text-decoration: none;
}