body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    width: 100%;
    color: rgb(53, 52, 52);
    font-size: 1rem;
    font-weight: 600;
}


header {
    color: rgb(53, 52, 52);
}

.icon {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.icon img {
    width: 20%;
    padding-right: 16px;
    margin: .5rem;
}

.headings {
    display: flex;
    flex-direction: column;
}

.banner {
    position: relative;
    text-align: center;
    color: white;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: 'Galada', cursive;
    font-weight: 300;
    font-size: 3rem;
    margin-left: 1rem;
    margin-top: 0px;
    margin-bottom: .2rem;
}

h2 {
    text-align: center;
    font-weight: 700;
    margin: .5rem;
    padding: 1rem;

}

h3 {
    margin: 1rem;
    padding-left: 1.5rem;

    font-style: italic;
}

h4 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    margin: auto;
}

h5 {
    font-size: 2.5rem;
    font-family: 'Galada', cursive;
    font-weight: 200;
}

h6 {
    font-size: 1.5rem;
    font-family: 'Galada', cursive;
    font-weight: 200;
}

ul,
li {
    list-style-type: none;

}

nav {
    margin: .25rem auto;
    background-color: rgb(53, 52, 52);
    font-family: 'Roboto', sans-serif;

}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0px;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
    align-items: center;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: white;


}

nav ul li a:hover {
    background-color: rgba(238, 201, 122, 0.493);
}

.active {
    background-color: #FFA630;
}

/*nav stops here*/
/* index.html page specifics start here*/
.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9EE5DD;

}

.section1 img {
    width: 100%;
    border-radius: .5rem .5rem 0 0;
}

.rentalSum {
    max-width: 100%;
    margin: 1.5rem;

    box-shadow: 0 0 30px rgb(5, 5, 5);
    border-radius: .2rem;
    padding: 1rem;
}

.rentalSum ul {
    margin: 1rem;
    padding: 0px;
}


.rentalSum h2 {
    font-family: 'Galada', cursive;
    font-weight: 300;
    font-size: 2rem;
    margin: 0px;

    color: rgb(53, 52, 52);
}

.section2 {
    max-width: 90%;
    margin: 1rem;

    padding: 1rem;
    color: rgb(78, 76, 76);
}

.section2 h3 {
    text-align: center;
    margin-top: 2rem;
}

.section2 h2 {
    box-shadow: 0 0 30px rgb(5, 5, 5);
    margin-bottom: 2rem;
    background-color: #FFA630;
}

#high {
    font-size: 4rem;
    color: white;
    text-align: right;
    color: rgb(53, 52, 52);
}

.forecast {
    display: flex;
    margin: 1rem;

    background-color: #bce0dd;
}

.contentbox {
    padding-left: 1rem;

}

.flex-col {
    display: flex;
    flex-direction: column;
    padding-right: .5rem;
    margin: 1rem;
    border-right: solid slategrey 1px;

}

.flex-col img {
    width: 40px;
}



/*this is rentals pic grid*/
img[data-src] {
    filter: blur(0.2em);
}

img {
    filter: blur(0em);
    transition: filter 0.5s;
    width: 100%;
    height: auto;
    margin: 0;

}

.gallery {
    margin: 0px auto;
    background-color: #9EE5DD;
    text-align: center;
}

figure {
    width: 80%;
    align-content: center;

}

figcaption {
    display: block;
    text-align: center;
    padding: .5rem;
    font-family: 'Roboto', sans-serif;
    color: rgb(78, 76, 76);
}

.grid {
    display: grid;
    grid-gap: 0px;
    grid-auto-columns: auto;
    justify-content: center;
    max-width: 100%;
    margin: 1rem auto;
    background-color: #9EE5DD;
    padding: 1rem;
}

/* rental table starts here */
.rental-table {
    max-width: 100%;

    padding: 1rem;

}

#flat-table {
    width: 20%;
    margin: 0 auto
}

table,
th,
td {
    border: 1px solid rgb(78, 76, 76);
    border-collapse: collapse;
}

table {

    overflow: auto;
    width: 60%;
    box-shadow: 10px 10px 10px #cacac7;
    text-align: center;
    margin: 0 auto;

}

b:only-child {
    color: rgb(78, 76, 76);
}

tr:nth-child(odd) {
    background-color: rgb(233, 233, 233);

}

tr:nth-child(even) {
    background-color: white;
}

th,
tfoot tr td {
    background-color: #FFDF6E;

    padding: .5rem .5rem;

}

td {
    padding: .5rem .5rem;
}

th {
    font-weight: bold;
    font-size: 1.5rem;
}

tfoot tr td {
    font-size: .5rem;
}

#active {
    color: #ffffff;
}

/* contact and map location */


.contact {
    padding: 1rem;
    margin: 1rem;
    width: 300px;

}

#social-media {
    display: flex;
    justify-content: space-around;
}

#social-media img {
    display: flex;
    justify-content: space-between;
    width: 40px;
    padding: 1rem;
    margin-left: .75rem;
    margin-top: 1rem;


}

/* the form starts here*/
.agreement {
    background-color: #9EE5DD;
    padding-bottom: 1rem;
}

.agreement ul {
    border-left: 5px solid red;
    line-height: 1.5rem;
    list-style-type: none;
    padding: 10px 20px;
    margin: 1rem;
}

form fieldset {
    margin: 0 auto;
    border: 1px solid #FFFFFF;
    background-color: #FFDF6E;
    padding: .5rem 2%;


}

form legend {
    color: rgb(78, 76, 76);
    padding: 0 .8rem;
    font-size: 1.5rem;
    border: 5px solid #FFFFFF;
    border-radius: 4px;
    background-color: #FFFFFF;
    text-align: left;
    margin-top: 2rem;
}


form label.top,
form div {
    display: block;
    padding-top: .5rem;
    color: #0D3B66;
    font-size: .8rem;
}

input {
    margin: .5rem;
}

.top input,
.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    padding: .75rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid;
    width: 90%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
    display: block;
    padding: .50rem 0;

}

#ratingvalue {
    padding: 1rem 0px;
    font-size: 1.25rem;
}

.flexly {

    display: flex;
    flex-direction: column;
    max-width: 20rem;
    color: #0D3B66;
    font-size: .8rem;
}

input.submitBtn {
    margin: .75rem 0 .75rem .75rem;
    background-color: #FFA630;
    color: #000;

    border: 2px solid #cccccc;
    padding: .5rem .5rem;
    width: 100%;
    max-width: 10rem;
    box-shadow: 1px 1px 1px;
}

textarea {
    box-shadow: 1px 1px 1px;
    width: 96%;
}

.top input:required {
    border-left: red solid 6px;
}

.top input:required:valid {
    border-left: green solid 6px;
}

/* confirmation page*/
.confirmation {
    background-color: #9EE5DD;
}

.confirmation p {
    padding: 1rem;
    text-align: center;
}

/*tours page*/

.history {
    background-color: #FFDF6E;
}

.history p,
.history h3 {
    padding: .5rem;
    margin-bottom: 1rem;
}

.grid section {
    margin: 0.5rem;
    align-items: center;
}

.grid section img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 250px;
    height: auto;
}

.grid section p {
    margin: 2rem .5rem .5rem 1rem;
    line-height: 1.2em;
}

.ruin-img {
    display: flex;
    width: 50%;
}

.readLink {
    text-align: center;
    margin: .75rem auto;
    border-bottom: 1px solid black;
    color: #000;


    max-width: 8rem;

}

.readLink a {
    text-decoration: none;
    color: black;
}

/*Contact Page*/

.address {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin: 1rem 0 1rem;
}

.address section {
    margin: .5rem;
    line-height: 2rem;
    text-align: center;

}

.address ul {
    padding: 0px;
}

.address li {

    width: 100%;
    margin: 0px 8px 0px 8px;
}

.address p {
    padding: 0 1rem 0 1rem;
}

iframe {
    max-width: 350px;
    margin: 1rem;
}

.map {
    text-align: center;
    background-color: #9EE5DD
}

.locale h2 {
    margin: 0px;
    padding: 10px;
}

/*this is footer*/
footer {
    display: block;
    padding: 8px;
    margin: 8px auto;
    text-align: center;
    max-width: 100%;
    background-color: rgb(53, 52, 52);
    color: #FFFFFF;

}

footer a {
    color: #FFFFFF;
    text-decoration: none;
}