body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin: 0 auto;
    background: white;
    width: 100%;
}


header {

    background-color: #5995ed;
    color: #FFFFFF;
    padding: 10px;
    margin-top: 1rem;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.icon img {
    width: 20%;
    padding-right: 16px;

}

.headings {
    display: flex;
    flex-direction: column;
}


h1 {
    font-family: 'Galada', cursive;
    font-weight: 300;
    font-size: 3rem;
    margin-left: 1rem;
    margin-top: 0px;
    margin-bottom: .2rem;
}

h2 {
    text-align: center;
    font-weight: 500;
    margin: .5rem;
    padding: 1rem;
}

h4 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    margin: auto;
}

h3 {
    margin: 1rem;
    padding-left: 1.5rem;
}

ul,
li {
    list-style-type: none;

}

nav {
    margin: .25rem auto;
    background-color: #5995ed;
    font-family: 'Roboto', sans-serif;

}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;

}

nav ul li a.active {
    background-color: #FFA630;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/*nav stops here*/
/* index.html page specifics start here*/
.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #84DCC6;

}

.section1 img {
    width: 100%;
    border-radius: .5rem .5rem 0 0;
}

.rentalSum {
    max-width: 100%;
    margin: 1.5rem;

    box-shadow: 0 0 30px rgb(5, 5, 5);
    border-radius: .2rem;
    padding: 1rem;
}

.rentalSum ul {
    margin: 1rem;
    padding: 0px;
}


.rentalSum h2 {
    font-family: 'Galada', cursive;
    font-weight: 300;
    font-size: 2rem;
    margin: 0px;

    color: white;
}

.section2 {
    max-width: 90%;
    margin: 1rem;

    padding: 1rem;
    color: rgb(54, 54, 54);
}

.section2 h3 {
    text-align: center;
    margin-top: 2rem;
}

.section2 h2 {
    box-shadow: 0 0 30px rgb(5, 5, 5);
    margin-bottom: 2rem;
    background-color: #FFA630;
}

#high {
    font-size: 4rem;
    color: white;
    text-align: right;

}

.forecast {
    display: flex;
    width: 100%;
    margin: 1rem;
    padding: 1rem;

}

.contentbox {
    margin-left: 1rem;
}

.flex-col {
    display: flex;
    flex-direction: column;
    padding-right: .5rem;
    margin: 1rem;
    border-right: solid slategrey 1px;

}

.flex-col img {
    width: 40px;
}

#yellow {
    background-color: #FFDF6E;
}

/*this is rentals pic grid*/
img[data-src] {
    filter: blur(0.2em);
}

img {
    filter: blur(0em);
    transition: filter 0.5s;
    width: 100%;
    height: auto;
    margin: 0;

}

main.gallery {
    margin: 0px auto;

}

figure {
    width: 80%;
    align-content: center;

}

figcaption {
    display: block;
    text-align: center;
    padding: .5rem;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.grid {
    display: grid;
    grid-gap: 0px;
    grid-auto-columns: auto;
    justify-content: center;
    max-width: 100%;
    margin: 1rem auto;
    background-color: #84DCC6;
    padding: 1rem;
}

/* rental table starts here */
.rental-table {
    background-color: #FFDF6E;
    padding: 2rem 2rem 1rem 1rem;
    width: 100%;

}

#flat-table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid rgb(78, 76, 76);
    border-collapse: collapse;
}

table {
    font-size: 100%;
    overflow: auto;
    width: 80%;
    box-shadow: 10px 10px 10px #c4ad5d;
    text-align: center;
    margin: 0 auto;

}

b:only-child {
    color: rgb(78, 76, 76);
}

tr:nth-child(odd) {
    background-color: rgb(233, 233, 233);
    color: #000000
}

tr:nth-child(even) {
    background-color: white;
}

th,
tfoot tr td {
    background-color: #c6daf8;
    color: rgb(78, 76, 76);
    padding: 10px 10px;

}

td {
    padding: 8px 8px;
}

th {
    font-weight: bold;
    font-size: 1.75rem;
}

tfoot tr td {
    font-size: .8rem;
}

#active {
    color: #ffffff;
}

/* contact and map location */
.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    background-color: #FFDF6E;
    padding: 2rem 2rem 1rem 1rem;

}

.contact {
    padding: 1rem;
    margin: 1rem;
    width: 300px;

}

#social-media {
    display: flex;
    justify-content: space-between;
}

#social-media img {
    display: flex;
    justify-content: space-between;
    width: 40px;
    padding: 1rem;
    margin-left: .75rem;
    margin-top: 1rem;


}

/* the form starts here*/
.agreement {
    background-color: #84DCC6;
    padding-bottom: 1rem;
}

form fieldset {
    margin: 0 auto;
    border: 1px solid #FFFFFF;
    background-color: #FFDF6E;
    padding: .5rem 2%;


}

form legend {
    color: #000;
    padding: 0 .8rem;
    font-size: 1.5rem;
    border: 5px solid #FFFFFF;
    border-radius: 4px;
    background-color: #FFFFFF;
    text-align: left;
    margin-top: 2rem;
}


form label.top,
form div {
    display: block;
    padding-top: .5rem;
    color: #0D3B66;
    font-size: .8rem;
}

input {
    margin: .5rem;
}

.top input,
.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    padding: .75rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid;
    width: 90%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
    display: block;
    padding: .50rem 0;

}

#ratingvalue {
    padding: 1rem 0px;
    font-size: 1.25rem;
}

.flexly {

    display: flex;
    flex-direction: column;
    max-width: 20rem;
    color: #0D3B66;
    font-size: .8rem;
}

input.submitBtn {
    margin: 1rem 0 1rem 1rem;
    background-color: #FFA630;
    color: #000;

    border: 2px solid #cccccc;
    padding: .75rem 1.5rem;
    width: 100%;
    max-width: 20rem;
    box-shadow: 1px 1px 1px;
}

textarea {
    box-shadow: 1px 1px 1px;
    width: 96%;
}

.top input:required {
    border-left: red solid 6px;
}

.top input:required:valid {
    border-left: green solid 6px;
}

/* confirmation page*/
.confirmation {
    background-color: #84DCC6;
}

.confirmation p {
    padding: 1rem;
    text-align: center;
}

/*tours page*/

.history {
    background-color: #FFDF6E;
}

.history p,
.history h3 {
    padding: .5rem;
    margin-bottom: 1rem;
}

.grid section {
    margin: 0.5rem;
    align-items: center;
}

.grid section img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 250px;
    height: auto;
}

.grid section p {
    margin: 2rem .5rem .5rem 1rem;
    line-height: 1.2em;
}

.ruin-img {
    display: flex;
    width: 50%;
}

.readLink {
    text-align: center;
    margin: .75rem auto;
    border-bottom: 1px solid black;
    color: #000;


    max-width: 8rem;

}

.readLink a {
    text-decoration: none;
    color: black;
}

/*Contact Page*/

.address {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #84DCC6;
    width: 100%;
    margin-top: 1rem;
}

.address section {
    margin: .5rem;
}

.address img {
    width: 90%;
    padding: 1rem;
}
.address p {
    padding: .5rem;
  } 
  iframe {
max-width: 350px;
    margin: 1rem;
}
.map {
    text-align: center;
    background-color:  #FFDF6E;

}
.locale h2 {
    margin: 0px;
    padding: 10px;
}
/*this is footer*/
footer {
    display: block;
    padding: 8px;
    margin: 8px auto;
    text-align: center;
    max-width: 100%;
    background-color: #5995ed;
    color: #FFFFFF;

}

footer a {
    color: #FFFFFF;
    text-decoration: none;
}