@media only screen and (min-width: 37.5em) {
    .navigation {
        display: flex;
      }
      .navigation li:first-child {
        display: none;
      }
      .navigation li {
        display: block;
        flex: 1 1 100%;
      }
      picture img {
        max-width: 10%;
        margin-left: 2rem;
    }
}